<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HAB">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <AF>
        <p>Лучезарная Шестёрка (она же бывшая Высшая Семёрка) - это несколько существ, созданных Высшим Светом в противовес <a href="EDCommon.html" target="_self" class="DemonA">Элитным демонам</a>. Было заведено называть их по порядковому номеру (в порядке возрастания силы) или прозвищу.</p>
        <p>Надо сказать, Высший Свет поступил мудро, дав своим подопечным возможность усиления не от добродетей, которые должны быть характерны для него и его последователей, а от совсем других вщей - это можно объяснить их слабостью относительно своих изначальных противников в будущем (и Великий Разлом, где они все полегли от одного, лучший тому пример):</p>
        <p><a href="first.html" target="_self" class="AngelA">Праздность</a> — от проявления людьми лени (и уныния, ввиду различных переводов его прозвища).</p>
        <p><a href="second.html" target="_self" class="AngelA">Опустошение</a> — от впадения людей в депрессию и других негативных душевных потрясений (по его инициативе самоубийцы часто попадают в <a href="AWCommon.html" target="_self" class="AngelA">Рай</a> - они могут легко обрести покой или стать сильнми воинами).</p>
        <p><a href="third.html" target="_self" class="AngelA">Сила</a> — от появления новых Праведных душ.</p>
        <p><a href="forth.html" target="_self" class="AngelA">Одержимость</a> — от поклонения людей Высшему Свету.</p>
        <p><a href="fifth.html" target="_self" class="AngelA">Гнев</a> — здесь всё понятно.</p>
        <p><a href="sixth.html" target="_self" class="AngelA">Храбрость</a> — аналогично.</p>
        <p><a href="seventh.html" target="_self" class="AngelA">Пощада</a>, она же <a href="seventh.html" target="_self" class="AngelA"> Прощение </a> — всё понятно.</p>
        <p>Теперь немного о самом <a href="THL.html" target="_self" class="AngelA">Высшем Свете</a>.</p>
        <p>Дополнение: числа о личном составе приведены на момент начала игры.</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </AF>
</body>
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>