<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <AF>
        <titbig>
            Погребённый (Песчаный человек)
        </titbig>
        <img id="151" src="{{url_for('static', filename='../../../Pictures/AngelCapt/Fifth/buried.jpg')}}" style="float: right; max-width: 30%; height: auto;" />
        <p>О жизни его известно достаточно мало. Он работал в горах, добывал руды. Однажды ему повезло и он смог забрать переплавленный слиток собственной добычи себе домой и закопать его. Об этом узнали другие работники-завистники, пришли к нему и заставили его откопать, а потом закопали его самого заживо, предварительно вырубив лопатой.</p>
        <p>Несмотря на его воровство, на распределении его было решено не отправлять в <a href="DWCommon.html" target="_self" class="DemonA">Ад</a>, так как трудящиеся выполняли свою работу за гроши, не зависящие от их эффективности. Поэтому ему была дана необычная способность: пока он находится на песке или не слишком каменистой земле, он может поглощаться ею и свободно перемещаться там для внезапного удара или уворота от него. Также он может обращаться в песок и покрывать себя своеобразной бронёй из него. Разумеется, эти способности не могут быть применены в дождливую погоду или при обливании самого капитана какой-либо жидкостью (вообще-то можно и часто так происходило, но использование гораздо менее эффективно). Также непосредственным касанием ладонью объекта или человека капитан может иссушать его.</p>
        <p>Вместо меча он взял пару ножей, что сделало его атаку и защиту без пользования способностями крайне затрудненными.</p>
        <p>Первая часть экзамена была невероятно сложной, в отличие от второй, после которой состоялся бой с <a href="Rider.html" target="_self" class="AngelA">Всадником</a> за титул Короля Пустыни. Погребённый победил только два раза из пяти, потому что его слабости сыграли весомую роль, поэтому несмотря на его огромное преимущество, титул остался за Всадником.</p>
    </AF>
</body>
<br />
<AF>
    <titlit>
        <div class="Arating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</AF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>