<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <AF>
        <titbig>
            Щелкун
        </titbig>
        <img id="152" src="{{url_for('static', filename='../../../Pictures/AngelCapt/Fifth/clicker.jpg')}}" style="float: right; max-width: 28%; height: auto;" />
        <p>Об этом капитане мало что известно, ибо вся его предыдущая жизнь была засекречена и воспоминания о нём стёрты у очень многих, но что многие знают наверняка – это то, что ангел стал таким из-за банальной случайности. Он был крайне нервным, отчего постоянно щёлкал пальцами. В подростковом возрасте он заставил себя перестать это делать, но вынужден был заменять навязчивой движение чем-нибудь. Он ел, пел, пил, – много чего делал, но держался. Спустя почти десять лет он всё же сорвался, щёлкнул пальцами – и в направлении указательного взорвалась бочка с пивом. Он щёлкнул ещё раз – и окно разлетелось в разные стороны. Щелкун спешно убежал к себе домой, обмотал вокруг кисти правой руки тряпку, сжал её левой и стал думать, как быть. Он закрылся ото всех и очень долго ждал, пока не решился на отчаянный шаг – щёлкнуть в направлении своей головы.</p>
        <p>Так он и оказался в <a href="AWCommon.html" target="_self" class="AngelA">Раю</a>. Пятый был удивлён такому решению распределяющих, но взялся за тренировки нового капитана. Как и ожидалось, его вредная привычка оказалась основной боевой способностью. Разрушительной, стоит отметить. Большая часть времени была посвящена контролю силы и обращению с оружием. Щелкун посредственно сдал экзамены, но турнир проходил в двух вариантах: без использования способности и с ней. Будущий капитан с трудом пережил первую часть, но во второй, которая проходила на другой планете, он сражался на равных со многими, несомненно поддающимися капитанами. После получения звания отказался от всякого рода необычного в своём мече, потому носит на поясе клинок рядового ангела и практически не достаёт его из ножен.</p>
    </AF>
</body>
<footer></footer>
</html>