<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <DF>
        <titbig>
            Прочее
        </titbig>
        <p>Здесь будет информация о разных существах, относящихся к тёмной стороне нашего мира. В основном в этом разделе будет речь о людях, добровольно примкнувших к Цепному Дракону, а также о Кошмарном Измерении.</p>
        <titlit>
            Часть 1.
        </titlit>
        <p><a href="DPeer.html" target="_self" class="DemonA">Тёмный Кукловод</a> - первый из известных подопечных ЦД. Это один из немногих самостоятельных бойцов, редко появляющихся в реальном мире.</p>
        <p>После Великого Разлома были нужны некоторые преобразования. Цепной Дракон исправил ситуацию, опосредованно направив к себе несколько людей, которые пришли к нему в поисках смысла жизни — и каждый обрёл, что хотел.</p>
        <p><a href="Berserk.html" target="_self" class="DemonA">Берсерк</a>.</p>
        <p><a href="Reaper.html" target="_self" class="DemonA">Жнец</a>.</p>
        <p><a href="Hellmuse.html" target="_self" class="DemonA">Адский музыкант</a>.</p>
        <p><a href="Pain.html" target="_self" class="DemonA">Пейн</a>.</p>
        <titlit>
            Часть 2.
        </titlit>
        <p><a href="Faceless.html" target="_self" class="DemonA">Кошмарное измерение</a>.</p>
    </DF>
</body>
<footer></footer>
</html>