<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <DF>
        <titbig>
            Мечтатель, он же Ловец снов
        </titbig>
        <img id="7411" src="{{url_for('static', filename='Pictures/DemonTypes/StrongSupreme/dreamer.jpg')}}" style="float: right; max-width: 30%; height: auto;" />
        <p>
            Сильный Высший демон, немного усиливающийся каждый раз, когда кому-то снится кошмар (нередко сам Ловец является его причиной). Оружие демона — меч без гарды и навершия, отношение длины лезвия к рукояти 1:1, длина в сумме 0,8 метра. Основной атрибут
            — маска с улыбкой, направленной вниз (хотя демон часто улыбается под маской), и глазами в виде крестов. Нем, потому в Крик Пустоты не может. Печально известен тем, что, убив человека в его сне, жертва впадает в бессонницу, не теряя при этом чувства усталости. Единственный способ избавления от этого эффекта — физическая победа над демоном. Тогда все попавшие под воздействие приходят в норму. Однако почти все жертвы через пару недель сводили счёты с жизнью.
        </p>
        <p>Во время Великого Разлома сразился с <a href="Sixth.html" target="_self" class="AngelA">Шестым</a>, но, отказавшись умирать, переместился на другую сторону Земли, зная, что там была глубокая ночь и люди ещё спали. После ВРа начал почти каждую ночь врываться в сны ровно трёх людей по всему миру, из-за чего его невозможно было отследить (даже ангелы не могли ничего сделать, когда жертва оказывалась в мире Ловца). Убит предпоследним из «Потерянных» силами <a href="Fifth.html" target="_self" class="AngelA">Пятого</a>. Барьер и Литания палача сделали своё дело.</p>
        <p>По легенде первый человек, умерший во сне от страха, переродился в Аду и стал Сильным Высшим демоном, однако за что он стал таким мощным — никто объяснить не может, так как тот человек на поверку был праведной душой и попал в Рай. Основная версия - ЦД поделился Энергией для служителя тьмы.</p>
        <titlit>
            Основные действия:
        </titlit>
        <p>Удары мечом. Также, начертив мечом круг, создаёт портал, с помощью которого перемещается на большие дистанции и в мир снов.</p>
        <titlit>
            Особый приём:
        </titlit>
        <p>«Искажение». Ловец намеренно даёт жертве возможность насладится своими желаниями во сне, затем резко обращает в кошмар, в котором уснувший бежит в длинном коридоре к свету в конце. Избежать смерти можно, нужно проснуться или вспомнить, что это сон, и дать себе суперсилы. Не подвержены таким кошмарам лишь железновольцы, однако были случаи, когда новички этого подразделения попадались в ловушку.</p>
        <titlit>
            Интересные факты:
        </titlit>
        <p>В качестве первоисточника использовался Мечтатель из Devil may cry.</p>
    </DF>
</body>
<br />
<DF>
    <titlit>
        <div class="Drating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</DF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A1}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A2}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A3}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D1}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D2}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D3}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
</div>
</html>