<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <DF>
        <titbig>
            Адский барабанщик
        </titbig>
        <img id="7511" src="{{url_for('static', filename='Pictures/DemonTypes/WeakSupreme/drummer.jpg')}}" style="float: right; max-width: 35%; height: auto;" />
        <p>Слабый Высший демон из-за низкого боевого потенциала. Внешне похож на мужчину в возрасте, играющего на подобии бонго, который может в сочетании с щелчками пальцев и хлопками имитировать десятки различных звуков. Основное свойство его инструмента — каждый, кто слышит его звук, ощущает его как в своей голове. Собственно, у многих чувствительных к звукам людей просто может взорваться голова от такого громкого и мощного звука. Отличается миролюбивым характером и был создан ЦД для развлечения всех остальных демонов. Предусмотрительно имеет непробиваемый барьер.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>Музыку демона сложно назвать атакой (он просто играет), но, раз уж она может нанести вред — пусть будет так (ощутимого вреда непосредственно от неё никто не замечал). Однако он своей игрой поднимает других демонов на бой и усиливает их (кто-то становится быстрее, кто-то сильнее и так далее).</p>
        <titlit>
            Особые умения:
        </titlit>
        <p>Отсутствуют. Демон их или не знает, или не показывает.</p>
    </DF>
</body>
<footer></footer>
</html>