<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <AF>
        <titbig>
            Первый (Праздность)
        </titbig>
        <img id="211" src="{{url_for('static', filename='Pictures/AngelElite/FirstMain.jpg')}}" style="float: right; max-width: 25%; height: auto;" />
        <p>
            Внешне выглядящий на 20 лет, ростом 174 см, в костюме кремового цвета, всегда с бокалом красного сладкого вина в правой руке, закрытыми глазами и улыбкой на лице, этот парень является самым слабым из Лучезарной шестёрки.
            Со стороны может показаться, что он безопасен, однако это не совсем так. За спиной его бокал может превратиться в небольшой кинжал-бумеранг, который в сочетании с резкими выпадами и обманными ударами делает Праздность серьёзным противником для «тяжеловесов», не способных уследить за лезвиями.
        </p>
        <p>Вместе со своим небольшим войском обитает в Дворце счастья. Сидит в большом зале (на другом конце от входа) на троне бОльшую часть времени и даже спит на нём. Многие в ангельском сообществе не одобряют такую низкую активность, однако при любой возможности, если хорошо попросить Первого, он ринется со своими воинами в бой без колебаний. </p>
        <p> Имеет в распоряжении 20 командиров, у каждого из которых 150 ангелов. </p>
        <p></p>
        <titlit>
            Обычные атаки:
        </titlit>
        <p>Удары бумерангом и его броски.</p>
        <p></p>
        <titlit>
            Особая атака:
        </titlit>
        <p>«Цепь лезвий» – создаёт 6 копий основного кинжала и вращает их на некотором расстоянии вокруг себя. По желанию создателя кинжалы могут быть выпущены волной под разными углами и в любом направлении.</p>
        <titlit>
            Интересные факты:
        </titlit>
        <p>Как бы Первый ни старался выпить бокал, он всегда будет полон. Если его перевернуть — вино не выльется. Технически если Первый захочет, то сможет в процессе питья превратить бокал в кинжал и проткнуть себе горло и шею, от чего погибнет.</p>
        <titlit>
            Слово Силы:
        </titlit>
        <p>"Hide" - в глазах противника его, как и союзников, не существует, пока кто-нибудь из них не проболтается. Однако их эффекты будут действовать на враге и они будут видеть друг друга.</p>
    </AF>
</body>
<footer></footer>
</html>