<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <AF>
        <titbig>
            Лесник
        </titbig>
        <img id="161" src="{{url_for('static', filename='Pictures/AngelCapt/Sixth/forester.jpg')}}'" style="float: right; max-width: 25%; height: auto;" />
        <p>Один из немногих капитанов, что не имеет отряда и проводит всю жизнь в одиночестве. Из основных его особенностей можно выделить возможность частично или полностью превращаться в живое дерево и вытаскивание из рук с последующим управлением длинных лиан. Также владеет магией земли, в том числе призывом существ. Имеет хорошие отношения со <a href="second.html" target="_self" class="AngelA">Вторым</a>.</p>
        <p>Хотя он не являлся непосредственным участником сражений, он отслеживал перемещения <a href="Beard.html" target="_self" class="DemonA">Пепельной бороды</a> и присутствовал при "становлении" нескольких капитанов.</p>
        <p>Считается у людей защитником природы.</p>
    </AF>
</body>
<footer></footer>
</html>