<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HAB">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <AF>
        <titbig>
            Четвёртый (Одержимость)
        </titbig>
        <img id="241" src="{{url_for('static', filename='Pictures/AngelElite/ForthMain.jpg')}}'" style="float: right; max-width: 25%; height: auto;" />
        <p>Самый ярый последователь Высшего Света. Ведёт самый активный образ жизни из Шестёрки. Занимается организацией строительства и работы храмов во славу Создателя (в которых и живёт), поиском и ликвидацией «Консервов» (для распознавания ауры которых всегда носит особый золотой монокль, сделанный Паладином), а также принимает непосредственное участие в чистке Ада от слабых демонов. Вооружён двумя мечами с изогнутой рукоятью и бесконечным числом уменьшенных версий, вылетающих из рукавов Четвёртого. При росте в 186 см способен одним рывком покрыть 30 метров или прыгнуть вверх на 6 метров.</p>
        <p>Носит пальто с расширяющимися книзу рукавами до колена платинового цвета с позолоченными краями, прочные штаны и грубые туфли той же палитры. Известен своей нетерпимостью к жителям <a href="DWCommon.html" target="_self" class="DemonA">Ада</a>. Презирает грешников и рвётся в атаку первым, если в деле замешаны осквернители Высшего. Однако приходится терпеть, чтобы Апокалипсис не произошёл раньше времени. Имеет в личном составе 40 командиров, у каждого из которых по 200 ангелов, а также возглавляет особое подразделение «Ауровидящие». Изначально оно было численностью в 3 тысячи особо натренированных ангелов, после Великого Разлома было увеличено до 10 тысяч.</p>
        <p>Во время ВРа бился в первых рядах. Больше того – когда <a href="Poison.html" target="_self" class="DemonA">Яд</a> почти отрезал руку Четвёртому, тот сжал в зубах рукав с частью своей конечности и через боль с разложением продолжил сражаться и победил, а потом дал бой Потрошителю вместе с остальными членами ЛШ.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>Удары мечами в сочетании с резкими движениями и бросками ножей. Также может орудовать импровизированными когтями или веерами из вышеупомянутых клинков.</p>
        <titlit>
            Особые приёмы:
        </titlit>
        </p>
        1. «Стимфалийская птица». Имея возможность ненадолго зависнуть в воздухе, Четвёртый подпрыгивает и с высоты с огромной скоростью осыпает врагов по области ножами, затем на бреющем полёте выкашивает оставшихся.
        </p>
        2. «Печать Очистителя». В поверженного демона втыкаются ножи, образующие форму пентаграммы. После вонзания последнего лезвия в центр символа все демонические силы запечатываются, а через 3 дня после окончания ритуала (если никто не вынет из демона хотя бы один клинок или он не сделает этого сам) демон обращается в прах.
        </p>
        <titlit>
            Слово Силы:
        </titlit>
        <p>Литания Инквизитора.</p>
        <titlit>
            Интересные факты:
        </titlit>
        <p>Источником вдохновения для этого персонажа является Александр Андерсон из аниме Hellsing Ultimate.</p>
    </AF>
</body>
<footer></footer>
</html>