<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <DF>
        <titbig>
            Оружейник
        </titbig>
        <img id="7271" src="{{url_for('static', filename='Pictures/DemonTypes/MiddleSupreme/gunsmith.jpg')}}'" style="float: right; max-width: 25%; height: auto;" />
        <p>Средний Высший демон, покровитель оружейного дела. Основная версия его появления — вместе с первым мечом сотворился и сам демон — делает его одним из самых старых. Когда демон был слаб, нельзя было смещать его в ранге. А когда стало можно — он стал достаточно сильным, чтобы защититься.</p>
        <p>Незадолго до ВРа сдружился с <a href="Judge.html" target="_self" class="DemonA">Судьёй</a> и в Судный День вместе с ним истреблял демонов-выскочек. Отрастил после тех событий ещё пару рук.</p>
        <titlit>
            Основные действия:
        </titlit>
        <p>Атаки созданным оружием.</p>
        <titlit>
            Особые техники:
        </titlit>
        <p>Собственно, создание оружия (технически это доставание из своего тела) посредством «рисовки» на себе различных узоров.</p>
        <p>1. Двуручный меч. Символ — двойная улыбка вверх (указательный и безымянный), затем двойная сплошная перпендикулярно (указательный и средний) — рисуется на груди.</p>
        <p>2. Пара обоюдоострых топоров. Символы рисуются на бёдрах — две улыбки вниз перпендикулярно ноге, затем одна линия от основания ноги вниз.</p>
        <p>3. Двуручный молот — рисуется на правой ладони. две прямых линии перпендикулярно ей (средний палец левой руки находится на основании указательного пальца правой), затем одна линия от основания среднего пальца правой руки до основания ладони.</p>
        <p>При создании сначала одного оружия, а затем другого, старое исчезает. Этот демон не стал Сильным Высшим только потому, что он не одинаково профессионально владеет всеми своими видами оружия.</p>
    </DF>
</body>
<br />
<DF>
    <titlit>
        <div class="Drating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</DF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>