<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <DF>
        <titbig>
            Тысячеглав (Гидра)
        </titbig>
        <img id="7291" src="{{url_for('static', filename='Pictures/DemonTypes/MiddleSupreme/hydra.jpg')}}" style="float: right; max-width: 40%; height: auto;" />
        <p>Средний Высший демон, отличающийся спокойствием в любой ситуации. Кто-то считает, что он был большой семьёй, которая практиковала каннибализм и жертвоприношения, потому никто из неё не попал в рай, а после смерти последнего из рода она объединилась в одного демона. Многие сделали такой вывод из различия голов Гидры. Мужские и женские, с разной формой зубов, варьируются даже размеры черепов. Однако из архива Древних Писцов можно вычитать, что Тысячеглав является одним из первых демонов, оказавшихся в Аду. То есть, он был создан или обращён ЦД.</p>
        <p>Среди мифов и легенд Мандегии сказано, что давным-давно в горах обитало существо, похожее на человека в зелёных одеждах, но голова его представляла собой череп, покрытый некоторой жидкостью, не отражающейся на солнце. Немногим удавалось увидеть, как из затылка гуманоида вырастали такие же головы на длинных подобиях шей. Также упоминается о неком герое, который поднялся к чудищу и победил его. Затем горы начали рушиться, от них откалывались даже огромные валуны. Герой не смог убежать и был погребён под завалами. Сейчас немногие узнают в нём <a href="fifth.html" target="_self" class="AngelA">Пятого</a>, однако Гидра при ощущении его приближения начинает инстинктивно шипеть. Вместе с этой историей может родиться предположение, что все черепа принадлежат жертвам Тысячеглава – и эта версия будет правдой.</p>
        <p>Является бессменным владыкой западной части верхнего правого города, где его головы способны увидеть всё, что происходит в окрестностях. Так, при любой конфликтной ситуации Гидра имеет право ударить своим черепом всех её участников, а при оказании сопротивления появятся ещё несколько или в редких случаях сам демон. Поэтому регион Тысячеглавого знаменит своей порядочностью, если можно так выразиться.</p>
        <p>Во время Великого Разлома <a href="Hive.html" target="_self" class="DemonA">Легион</a> попытался захватить власть сначала в "родном" городе, но был остановлен Гидрой. Битвы между ними не было, но что произошло тогда – знают лишь эти двое. Неужели воинственный Рой испугался древнего совластителя и отступил? Или Тысячеликий убедил своего противника отправиться в соседний город, где тот был повержен <a href="Judge.html" target="_self" class="DemonA">Судьёй</a>?</p>
        <p>Одно известно наверняка – Гидра не выдаёт и трети своих возможностей. Поговаривают, что он в битве с <a href="DPeer.html" target="_self" class="DemonA">Дарком</a> имеет все шансы на победу, если выложится на полную. Также известно, что Тысячеглав был так силён, что мог быть послан охранять Древний лук, но из-за специфических возможностей своего тела он не мог находиться в своём обличии в воде, а другое вынудило бы его ограничивать свои силы.</p>
    </DF>
</body>
<footer></footer>
</html>