<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <AF>
        <titbig>
            Айсберг
        </titbig>
        <img id="162" src="{{url_for('static', filename='Pictures/AngelCapt/Sixth/iceberg.jpg')}}'" style="float: right; max-width: 25%; height: auto;" />
        <p>Сильнейший капитан <a href="Sixth.html" target="_self" class="AngelA">Шестого</a>, боевой маг льда, могущественный настолько, что при желании может заморозить всю планету за несколько часов. По понятным причинам ненавидит <a href="Vulkan.html" target="_self" class="DemonA">Вулкана</a> сильнее всех остальных демонов и опасается капитана, ставшего таковым благодаря ему. Носит лёгкую броню, предпочитая металлическим мечу и щиту оружия и стены изо льда. Умеет замораживать воду, создавать из неё барьеры и даже летать.</p>
        <titlit>
            Обычные атаки:
        </titlit>
        <p>Удары ледяным двуручным мечом. Также может создать глыбу льда и уронить на голову противнику, кинуть в него большую сосульку или даже заковать ноги в лёд, который понемногу будет подниматься до головы.</p>
        <titlit>
            Особая техника:
        </titlit>
        <p>«Ледяная клетка». Создаёт клетку вокруг одного врага (реже нескольких), которую трудно сломать, так как любой сломанный прут зарастает вновь. Со всех сторон в клетке начинают расти ледяные шипы. Если сломать один, он продолжит расти и рядом начнёт расти новый. Так жертва оказывается пронзённой сотней сосулек, из-за чего обычно погибает.</p>
    </AF>
</body>
<br />
<AF>
    <titlit>
        <div class="Arating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</AF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A1}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A2}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A3}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D1}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D2}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D3}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
</div>
</html>