<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelchoice" onclick="location.href='IL.html'" style="cursor: pointer;">
    Путь Света
    <div class="thlfront"></div>
    <div class="sixthfront"></div>
    <div class="fifthfront"></div>
    <div class="forthfront"></div>
    <div class="thirdfront"></div>
    <div class="secondfront"></div>
    <div class="firstfront"></div>
</div>
<div class="demonchoice" onclick="location.href='ID.html'" style="cursor: pointer;">
    Путь Тьмы
    <div class="cdfront"></div>
    <div class="tyrantfront"></div>
    <div class="ripperfront"></div>
    <div class="sorrowfront"></div>
    <div class="echofront"></div>
    <div class="silverfront"></div>
</div>
</html>