<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <DF>
        <titbig>
            Судья
        </titbig>
        <img id="7431" src="{{url_for('static', filename='Pictures/DemonTypes/StrongSupreme/judge.jpg')}}" style="float: right; max-width: 20%; height: auto;" />
        <p>Сильный Высший демон. Многими нелюбим из-за своего балансирования между добром и злом (было дело, он был в плохом настроении во время решения очередного спора и просто убил обоих его участников). Собственно, появился он из религиозного конфликта и усиливается за счёт различных ссор и скандалов. Без него не обходится ни один серьёзный конфликт в Аду. Во время Великого Разлома остался в Аду со знанием, что устроят некоторые демоны, оставшись без надзора. Лично в тот день перебил многих слабых и средних демонов, решивших устроить погром и захватить власть. Владеет одноручным топором, который при желании может увеличивать свою рукоять до пяти раз. Невероятно живучий воин за счёт покрытия себя щитом из ауры, цвет которой определяет, от кого нужна защита.</p>
        <titlit>
            Обычные атаки:
        </titlit>
        <p>Удары топором.</p>
        <titlit>
            Особый приём:
        </titlit>
        <p>«Полировка». Судья прибивает врага к плоскости, а затем резко увеличивает рукоять до максимума — и этот процесс повторяется до полного удовлетворения демона. Так, существо, прижатое незащищённой частью тела, будет тереться о плоскость и в некоторых случаях стирать себе кожу, мясо и кости.</p>
        <titlit>
            Крик Пустоты:
        </titlit>
        <p>«Judgement». После произнесения из центра обушины топора вылетают 13 небольших шариков, которые взрываются после вылета всех снарядов и касания ими всеми целей. Так они разлетаются на медленные осколки, буквально раздирая тело тех, кому не повезло принять их в себя.</p>
        <titlit>
            Интересный факт:
        </titlit>
        <p>Судья иногда пародирует Хеллмюза, «играя» на своём топоре, так как считает крики и мольбы о пощаде лучшей музыкой.</p>
    </DF>
</body>
<br />
<DF>
    <titlit>
        <div class="Drating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</DF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A1}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A2}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A3}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D1}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D2}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D3}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
</div>
</html>