<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <DF>
        <titbig>
            Мортира (Требушет)
        </titbig>
        <img id="72111" src="{{url_for('static', filename='Pictures/DemonTypes/MiddleSupreme/Mortar.jpg')}}" style="float: right; max-width: 25%; height: auto;" />
        <p>Средний Высший демон на самом деле долгое время был просто средним, который однажды вселился в мортиру, отчего получил своё прозвище. Разумную пушку решено было уничтожить, после чего на её месте появился демон с частично покрытым толстым слоем металла телом и разного размера отверстиями на ладонях, плечах, животе и спине. В сообществе ангелов решили повторить успех Искупителя, забыв, что он стал Светлым добровольно.</p>
        <p>Мортиру пытались задобрить, запугать, поставить его на грань между жизнью и смертью — ничего не помогало. Было решено запереть его в особой клетке. Сначала прибегли к помощи <a href="THL.html" target="_self" class="AngelA">ВСа</a>. Тот заключил демона в особой сфере света, непроходимой для демонов. Однако на следующий день Требушет легко сбежал, не являясь «чистым» демоном. Он разбежался и металлическими частями прошёл сквозь барьер, отчего умер. Однако через время между ними начала появляться плоть демона и ещё через час Мортира вернулся в изначальный вид. Попытался бежать, был пойман и посажен в клетку <a href="Iceberg.html" target="_self" class="AngelA">Айсберга</a>. Она лишила того четверти сил, настолько она была прочна, но так демон гарантированно не мог сбежать.</p>
        <p>Через какое-то время он с помощью <a href="Illusionist.html" target="_self" class="DemonA">Иллюзиониста</a> сбежал из клетки, но был убит. После воскрешения в Аду разжился десятком слитков из тёмного серебра, выиграв их у какого-то купца, и теперь его металлические части тела покрыты тонким, но твёрдым слоем этого невероятно прочного материала.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>Удары кулаками и многочисленные выстрелы из пушек.</p>
    </DF>
</body>
<footer></footer>
</html>