<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <DF>
        <titbig>
            Яд
        </titbig>
        <img id="7441" src="{{url_for('static', filename='Pictures/DemonTypes/StrongSupreme/poison.jpg')}}" style="float: right; max-width: 30%; height: auto;" />
        <p>Сильный Высший демон полностью оправдывает своё имя. Усиливается за счёт отравляющих и отравляемых, попадающих в Ад. Кто знает, вдруг через 5-6 веков он станет таким сильным, что затмит Потрошителя. Выглядит как смесь человека и ящерицы. Мастерски владеет парой отравленных клинков.</p>
        <p>Во время ВРа почти убил <a href="forth.html" target="_self" class="AngelA">Четвёртого</a>, но, ощутив безумную ярость врага, начал пропускать удары, а вовремя подоспевший <a href="Butcher.html" target="_self" class="AngelA">Мясник</a> оборвал пребывание Яда в мире людей. После Судного дня получил новую форму. Если раньше он был человеком с чешуёй рептилии и хвостом, то сейчас от прежнего тела осталась только верхняя половина, модифицированная парой рук, вылезающих из туловища по желанию Яда. Нижняя же представляет собой длинный хвост с двумя шипами на конце. Также длинный ряд шипов красуется на спине демона.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>Удары кинжалами; плевки кислотой, разъедающей дерево, тонкие слои металла и человеческие ткани. Также из раны, нанесённой демону, будет сочиться та же кислота, что Яд может использовать, пойдя в гущу врагов на таран, чтобы при касании их своими ранами наносить урон в ответ. Также после каждой своей смерти оставляет на месте большое пятно кислоты.</p>
        <titlit>
            Особый приём:
        </titlit>
        <p>«Ядовитое облако». Вокруг себя в радиусе 10 метров выделяет токсин, схожий по своему действию с кислотой.</p>
    </DF>
</body>
<footer></footer>
</html>