<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <DF>
        <titbig>
            Кровавый Ворон
        </titbig>
        <img id="7561" src="{{url_for('static', filename='Pictures/DemonTypes/WeakSupreme/raven.jpg')}}" style="float: right; max-width: 25%; height: auto;" />
        <p>Один из немногих демонов, которого люди создавали умышленно. Дело было так: на родине <a href="Monk.html" target="_self" class="DemonA">Чёрного Монаха</a> один человек решил создать культ Бога Крови. Вопреки ожиданиям Четвёртого, в секту вступила почти тысяча людей. Всё, что они делали — пытались создать кровавого демона различными способами. Жестоко убивали жителей, рисовали их кровью различные узоры и даже целые предложения (как правило, "Кровь Богу крови!" и прочие в том же ключе), пускали кровь себе и даже пили кровь десятков людей из специальной ритуальной чаши.</p>
        <p>Так в пучине этого безумия появился Ворон. Самый, пожалуй, каноничный демон. Огромные крылья, длинные пальцы, мощные козлиные ноги, броня на бёдрах, плечах и торсе. Этот Слабый Высший демон усиливается за счёт того же, от чего он появился (хотя кровопускание использовалось даже в медицине). Культ был уничтожен силами Четвёртого, однако созданный демон дал отпор. С тех пор он пытается всеми силами вернуть своему имени былую славу.</p>
        <titlit>
            Основные действия:
        </titlit>
        <p>Удары булавой, использование крыльев в качестве щита. Также может превратиться в стаю воронов, что может использоваться для дизориентации противника, засад в лесах или побега.</p>
        <titlit>
            Особый приём:
        </titlit>
        <p>«Кровавый взрыв». Демон бросает капсулу алого цвета, которая при касании чего-либо взрывается. Кровь, вылетевшая из капсулы, со временем всасывается поверхностью, которого коснулась. Так любой человек, которого коснётся это месиво, рискует получить заражение крови. Что с ним случится дальше — никто не знает.</p>
        <titlit>
            Интересный факт:
        </titlit>
        <p>Прообразом этого демона является миниатюра Демон-принца из вселенной Warhammer 40000.</p>
    </DF>
</body>
<br />
<DF>
    <titlit>
        <div class="Drating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</DF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>