<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <DF>
        <titbig>
            Жнец
        </titbig>
        <img id="6151" src="{{url_for('static', filename='Pictures/DemonOther/Part1/Reaper.jpg')}}" style="float: right; max-width: 30%; height: auto;" />
        <p>В отличии от предыдущего, на удивление спокойный и отчасти даже самоуверенный юноша (по демоническим меркам внешности). Вооружён Демонической Реликвией — косой, а также пятью метательными ножами. Рост 2,1 метра, худощавого телосложения, но по силе может биться на равных с <a href="EDCommon.html" target="_self" class="DemonA">ЭД</a>. Покрыт характерными узорами, основной цвет одежды — пепельный, с элементами различных оттенков красного. Основные элементы одежды: плащ-безрукавка с высоким воротником и кожаные ботинки. Личный телохранитель <a href="Hellmuse.html" target="_self" class="DemonA">Хеллмьюза</a> и Смотритель <a href="DWCommon.html" target="_self" class="DemonA">Ада</a>. Ни одно крупное событие не проходит без его ведома или прямого участия. Лично разработал почти всё законодательство в Аду и урегулировал отношения между грешными душами и демонами.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>Удары косой в сочетании с метанием ножей.</p>
        <titlit>
            Особая атака:
        </titlit>
        <p>Удар с разгона, к которому может добавиться удар с разворота.</p>
        <titlit>
            Крик Пустоты:
        </titlit>
        <p>Не используется по причине опасности – фантомная увеличенная коса повторяет движения основной.</p>
    </DF>
</body>
<br />
<DF>
    <titlit>
        <div class="Drating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</DF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>