<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <AF>
        <titbig>
            Спасатель
        </titbig>
        <img id="164" src="{{url_for('static', filename='Pictures/AngelCapt/Sixth/rescuer.jpg')}}" style="float: right; max-width: 25%; height: auto;" />
        <p>Так случилось, что одним очень жарким летом в результате поджога загорелось поле. Спасатель бросился на помощь первым, издалека увидев дым. Он приказал всем бросить работу и искать воду – были задействованы даже несколько ангелов <a href="Iceberg.html" target="_self" class="AngelA">Айсберга</a>. На тележку были погружены несколько ведёр с водой и несколько мужчин бросились на передовую, но оказались заперты в кольце. Будущий капитан не сдался и приказал облить границы водой, чтобы пламя не подобралось к ним, затем начал копать углубление с тремя добровольцами.</p>
        <p>Вдруг он издалека услышал крик своего сына, который с самого начала был виновен в этом всё. Как остальные ни старались его остановить – он не сдался и побежал в ту сторону, размахивая парой ведёр.</p>
        <p>Сгоревший мужчина оказался перед светлыми воротами один. Он взмолился о помощи остальным и возвратился прямо в оставшийся небольшой центр с помощью настоящего водопада. Полученным потоком он начал управлять, как будто занимался этим всю жизнь. Этого было достаточно, чтобы пожар прекратился.</p>
        <p>В пылу сражения со стихией будущий капитан вспомнил про сына, но он был отправлен в Ад, где скоро был уничтожен голодными грешными душами.</p>
        <p>Надо сказать, оружие Спасателя было необычным – он выбрал одноручный фламберг.</p>
        <p>С точки зрения способностей, вода не лучшим образом подходит и для атаки, и для защиты, в отличие от льда. Максимум пользы от неё – противнику будет некомфортно проходить сквозь неё. Поэтому Спасателю пришлось учиться охлаждать выпущенные им потоки. Капитан шестого очень хорошо справился с боевыми экзаменами, так как его меч, будучи практически пилой, наносил непоправимый ущерб легкобронированным противникам, однако в бою с Мясником и Пятым пришлось туго. Однако со знаниями у него было не очень.</p>
        <p>Во время Великого Разлома особо не отличился.</p>
    </AF>
</body>
<footer></footer>
</html>