<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <AF>
        <titbig>
            Всадник (Король пустынь)
        </titbig>
        <img id="158" src="{{url_for('static', filename='Pictures/AngelCapt/Fifth/rider.jpg')}}" style="float: right; max-width: 30%; height: auto;" />
        <p>Первый командующий конной армией Мандегии, загнанный в угол и убитый ценой жизней большинства неприятелей.</p>
        <p>Вооружён алебардой и шипастым щитом, носимым в основном на спине. Капитан <a href="fifth.html" target="_self" class="AngelA">Пятого</a> за долгую жизнь пленил и убил несколько сотен человек, хотя и сам получал ранения. Бывало, его, истекающего кровью, везли с почестями на нескольких щитах.</p>
        <p>Грамотный стратег, он редко оборонялся, вскрывая любую защиту неприятеля. В его распоряжении были несколько таранов, координация которых – задача далеко не из простых. В мирное время он лично проводил скачки и заботился о лучших лошадях.</p>
        <p>Однажды его получилось застать врасплох, зажав в узком каньоне камнями спереди и сзади, а потом расстреляв из луков. Таким образом, войско было полностью уничтожено.</p>
        <p>Сейчас же в отряде Всадника находятся лучшие соратники. Иерархия трёхуровневая, на 20 всадников рангом ниже приходится один повыше – итого, считая капитана, 421 наездник в отряде.</p>
    </AF>
</body>
<br />
<AF>
    <titlit>
        <div class="Arating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</AF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>