<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <DF>
        <titbig>
            Потрошитель
        </titbig>
        <img id="531" src="{{url_for('static', filename='Pictures/DemonElite/RipperMain.jpg')}}" style="float: right; max-width: 20%; height: auto;" />
        <p>Мужчина, ростом 187см, владелец Древнего оружия — пары дубинок с лезвиями и рогатиной на другом конце, объединяющихся в шест с овалом в середине. Печально известен своим характером. Едкий маньяк-садист, который периодически впадает в боевой транс и становится от этого ещё быстрее. Во время Великого Разлома уничтожил <a href="AECommon.html" target="_self" class="AngelA">Лучезарную Шестёрку</a> полным составом. Был очищен <a href="DPeer.html" target="_self" class="DemonA">Тёмным Кукловодом</a>, за что не был в обиде. Способен уничтожить не только ударами дубинок и лучами, но словом. Он частенько говорит что-нибудь подстёгивающее противника, выводящее из равновесия.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>Удары дубинками.</p>
        <titlit>
            Особые приёмы:
        </titlit>
        <p>1. Дубинки объединяются около кисти и вращаются, таким образом формируя щит. Также, пока одна рука крутит, из другой ладони вылетают сгустки, похожие на луч <a href="tyrant.html" target="_self" class="DemonA">Тирана</a>.</p>
        <p>2. Направленный Рык Пустоты. Все, кто находится в некоторой области перед Потрошителем в момент применения, получают эффекты оглушения и страха.</p>
        <titlit>
            Беспощадный режим:
        </titlit>
        <p>Ускоряет движения.</p>
        <titlit>
            Расположение пентаграммы:
        </titlit>
        <p>В левом глазу вместо зрачка. В отличие от остальных, у Потрошителя не всегда активация символа сходится с желанием активировать его. Основной бонус: увеличение скорости атаки и перемещения.</p>
        <titlit>
            Крик Пустоты:
        </titlit>
        <p>Развит в совершенстве. Любое слово может использовано в качестве КП.</p>
        <titlit>
            Интересный факт:
        </titlit>
        <p>При убийстве Merciless <a href="silverwolf.html" target="_self" class="DemonA">Волка</a> в игре Потрошитель скажет: «Now you’ll see REAL bad time!» - и, поверьте, месть этого парня за победу над всеми его «соратниками» будет страшна.</p>
    </DF>
</body>
<footer></footer>
</html>