<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <AF>
        <titbig>
            Седьмая (она же Пощада)
        </titbig>
        <p>Эта страница временно пуста.</p>
    </AF>
</body>
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>