<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <DF>
        <titbig>
            Серебряный Волк
        </titbig>
        <img id="541" src="{{url_for('static', filename='Pictures/DemonElite/SilverwolfMain.jpg')}}" style="float: right; max-width: 50%; height: auto;" />
        <p>Предстаёт перед нами в образе мужчины ростом примерно 195см, глазами цвета тёмного серебра и мускулистого телосложения. Владелец Древнего оружия — пары перчаток, сделанных в форме головы волка. Расчётливый тактик.</p>
        <p>Во время Великого разлома был побеждён силами почти двух сотен ангелов, а затем расщеплён Паладином на трёх волков и отправлен в Колючий лес.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>Удары руками, призывы подконтрольных волков, длиной по 1,5 метра каждый.</p>
        <titlit>
            Особая атака:
        </titlit>
        <p>Превращение на некоторое время в легкобронированного волка длиной 3,05 метра с серебристо-чёрной шерстью. В этом состоянии он способен преодолеть дистанцию в 65 метров одним рывком (в обычном состоянии 35), свободно ходить на двух лапах и видеть в полной темноте.</p>
        <titlit>
            Беспощадный режим:
        </titlit>
        <p>Увеличивает время состояния Волка, ускоряет движения и увеличивает число одновременно призываемых волков. Активируется при лицезрении главного героя в Доспехах Паладина.</p>
        <titlit>
            Расположение пентаграммы:
        </titlit>
        <p>На груди посередине. При ударе по ней осуществляется превращение.</p>
        <titlit>
            Крик Пустоты:
        </titlit>
        <p>Time. Замедляет время вокруг Волка на некотором расстоянии.</p>
        <titlit>
            Интересный факт:
        </titlit>
        <p>В случае перевода в Беспощадный режим Волк скажет нам: «So you wanna BAD TIME?”, что отчасти является отсылкой к Сансу из Undertale. Переводится он только если увидит кого угодно в доспехах Паладина.</p>
    </DF>
</body>
<br />
<DF>
    <titlit>
        <div class="Drating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</DF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>