<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='../../IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <AF>
        <titbig>
            Шестой (Храбрость)
        </titbig>
        <img id="261" src="{{url_for('static', filename='Pictures/AngelElite/SixthMain.jpg')}}" style="float: right; max-width: 25%; height: auto;" />
        <p>Самый настоящий повелитель молний. Небесная кара во плоти. Из брони имеет лишь наплечники, является первым железновольцем. Рост 196 см. Способен призвать грозу, лишь разозлившись. Половина способностей Шестого завязана на молниях, призываемых с неба, потому он не спускается в <a href="DWCommon.html" target="_self" class="DemonA">Ад</a>, чтобы не ограничиваться в бою. Живёт в <a href="AWCommon.html" target="_self" class="AngelA">Раю</a> и не имеет предрасположенности ко сну. Возглавляет особое подразделение «Железная воля» численностью в три тысячи ангелов, которых лично тренирует, а также небольшое войско из 40 командиров, у каждого из которых в распоряжении 150 ангелов.</p>
        <p>Несмотря на то, что Храбрость полностью оправдывает своё имя, история хранит единственный случай, когда Шестой потерял моральные устои. Это день, когда <a href="Pain.html" target="_self" class="DemonA">Пейн</a> бросил вызов Громовержцу. Отказаться от боя значило признать, что Боль сильнее. А принять вызов значил «проиграть и отправиться в форме Энергии к ВСу». Внешне тревога была незаметна, но пульс у Шестого всё время до поединка был в два с половиной раза чаще, чем обычно. В принципе это объясняет, почему при появлении Пейна на поле битвы, Храбрость обрушился на оппонента со всей мощью. Итог известен.</p>
        <titlit>
            Основные умения:
        </titlit>
        <p>Удары молний в различных вариациях. Выпуск разрядов из рук, метание шаровых молний, хотя и о физических касаниях не забывает.</p>
        <titlit>
            Особые навыки:
        </titlit>
        </p>
        1. «Молниеносный взгляд». Суть была описана в третьей главе Пути Света.
        </p>
        2. «Сфера молний». Формирует вокруг Шестого сферу радиусом 1,1 метра. Фактически ни один демон не может пройти сквозь эту защиту. В свою очередь, даже касание щитом любого демона наносит последнему огромный урон.
        </p>
        <titlit>
            Слово Силы:
        </titlit>
        <p>"Thunder Power!" Последний рубеж силы Шестого. Вокруг него появляются 6 сгустков молний, которые начинают вращаться вокруг своего призывателя с большой скоростью и со временем удаляться от него. Так от Шестого отходят 6 молниевых спиралей, выжигающих по огромной площади всё живое. Не было использовано во время Великого Разлома в целях безопасности.</p>
    </AF>
</body>
<footer></footer>
</html>