<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <DF>
        <titbig>
            Скорбь (Пощада)
        </titbig>
        <img id="551" src="{{url_for('static', filename='Pictures/DemonElite/SorrowMain.jpg')}}" style="float: right; max-width: 35%; height: auto;" />
        <p>Внешне представляет собой брюнетку с волосами чуть ниже плеч и ростом 1,8 метра, из спины которой торчат две металлических руки, из ладони каждой из которых по положению пальцев вылетают и возвращаются обратно циркулярные пилы. Из брони на ней лишь перчатки с небольшими лезвиями, нагрудник и кованые сапоги.</p>
        <p>Изначально вместо дополнительных рук с пилами у неё были пилы в основных руках и небольшие крылья. Отпочковалась от <a href="THL.html" target="_self" class="AngelA">ВСа</a> первой, потому была самой сильной изначально. Много времени проводила рядом с людьми, помогала им. И, как ни странно, влюбилась (что тогда было запрещено) в Паладина, который позже расщепит <a href="silverwolf.html" target="_self" class="DemonA">Серебряного Волка</a>. За проявление чувств она должна была пройти три недели пути Очищения — постепенного уменьшения её сил, совмещённого с прохождением испытаний. Пощада была уверена, что её возлюбленный, узнав об этом, будет рвать и метать. Не вышло. Теперь она презирает воинов Света.</p>
        <p>Во время Великого Разлома проходила путь Очищения, не могла присутствовать ни с одной из сторон. После окончания Очищения она предстала перед ЦД, получила новые оружие и броню и начала сражаться на стороне Тьмы. Во врем боя преимущественно тихо плачет, реже воет. Сначала пик её активности приходился на полнолуние, однако после очищения этот эффект пропал.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>ОЧЕНЬ МНОГО движений с пилами. Под разными углами, с разворота, с неожиданными сменами направления полёта и обманными ударами.</p>
        <titlit>
            Беспощадный режим:
        </titlit>
        <p>рассинхрон основных рук с дополнительными. Скорбь переводится в него только если увидит нас в Доспехах Паладина, найденных в особой секции Архива.</p>
        <titlit>
            Расположение пентаграммы:
        </titlit>
        <p>На пилах.</p>
        <titlit>
            Крик Пустоты:
        </titlit>
        <p>неизвестен.</p>
        <titlit>
            Интересные факты:
        </titlit>
        <p>1. Беспощадный режим не зря назван именно так. Это один из терминов, используемых боевыми ангелами, под которым подразумевается выход за рамки «обычного» боя в плане боевых навыков. Не выкладывание на полную мощность, а СВЕРХ возможностей.</p>
        <p>2. Броня для Жалости появились одновременно с ней. Когда <a href="TCD.html" target="_self" class="DemonA">ЦД</a> начал создавать ЭД, первым появился <a href="ripper.html" target="_self" class="DemonA">Потрошитель</a>, а затем сотворились только руки и некоторые доспехи. Что могло пойти не так? ЦД — сверхсущество, он не может так просчитаться. Через десятки лет выяснилось, что всё так и должно было быть.</p>
    </DF>
</body>
<br />
<DF>
    <titlit>
        <div class="Drating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</DF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>