<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HDB" onclick="location.href='EDCommon.html'" style="cursor: pointer;">Элитные демоны</div>
    <div class="HDB" onclick="location.href='DTCommon.html'" style="cursor: pointer;">Остальные демоны</div>
    <div class="HDB" onclick="location.href='DWCommon.html'" style="cursor: pointer;">Устройство Ада</div>
    <div class="HDB" onclick="location.href='DOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <DF>
        <titbig>
            Цепной Дракон (ЦД)
        </titbig>
        <img id="561" src="{{url_for('static', filename='Pictures/DemonElite/CDMain.jpg')}}" style="float: right; max-width: 35%; height: auto;" />
        <p>Самый большой осколок Древнего, является самым сильным существом в мире. Приходится <a href="THL.html" target="_self" class="AngelA">ВСу</a> родным братом. Для баланса между ними пришлось создать одному <a href="AECommon.html" target="_self" class="AngelA">Лучезарную Семёрку</a>, а другому — пятерых ЭД. Затем были созданы Древние Оружия. ВС создал меч и лук, а ЦД — 5 экземпляров. Так разрыв в силе между братьями был существенно уменьшен, но ЦД по-прежнему оставался сильнее. Сейчас представляет собой скорее змею длиной в 22 км, состоящую из толстых звеньев цепи. Общается со своими «детьми» при помощи телепатии. Несмотря на статус «Абсолютного Зла», он хорошо относится к своим последователям.</p>
        <titlit>
            Основные атаки:
        </titlit>
        <p>Подразумеваются удары хвостом, но один такой удар способен покрыть огромную площадь.</p>
        <titlit>
            Особые атаки:
        </titlit>
        <p>Неизвестны.</p>
        <titlit>
            Крик Пустоты:
        </titlit>
        <p>Неизвестен.</p>
    </DF>
</body>
<br />
<DF>
    <titlit>
        <div class="Drating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</DF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A1}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A2}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{A3}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D1}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D2}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;">
        <img src="../static/{{D3}}" style="float: right; max-width: 100%; height: auto;" />
    </div>
</div>
</html>