<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;">
    <div class="thlmain"></div>
    <div class="sixthmain"></div>
    <div class="fifthmain"></div>
    <div class="forthmain"></div>
    <div class="thirdmain"></div>
    <div class="secondmain"></div>
    <div class="firstmain"></div>
</div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;">
    <div class="cdmain"></div>
    <div class="rippermain"></div>
    <div class="silvermain"></div>
    <div class="sorrowmain"></div>
    <div class="tyrantmain"></div>
    <div class="echomain"></div>
</div>
<body>
    <AF>
        <titbig>
            Стоящий мертвец ("Неваляшка")
        </titbig>
        <img id="113" src="{{url_for('static', filename='Pictures/AngelCapt/First/tumbler.jpg')}}" style="float: right; max-width: 20%; height: auto;" />
        <p>Самый известный монах в Мандегии благодаря образу жизни. Тренировки без воды и еды высушили его насколько, что к концу жизни при росте 169 см он весил 38 кг. Основная его особенность – как бы ни старался противник, монаха он уложить не мог. Тот садился на шпагат между деревьев на многометровой высоте, балансировал на среднем пальце руки на горной вершине, изворачивался изо всех сил, но ни разу не падал на землю.</p>
        <p>Умер, попытавшись прыгнуть с отвесного склона и твёрдо встав на ноги при падении. Вершина с тех пор имеет название "Монаший пик". С оружием капитан, сражавшийся при жизни только своими конечностями, получил намного больше возможностей. Вместо меча он выбрал нож на цепи, другой конец которой приковал к себе. Попал к <a href="first.html" target="_self" class="AngelA">Первому</a> и сформировал отряд из самых сильных своих последователей, пока другие ожидают в резерве или находятся в расположении других капитанов. Создатель техник "Режущий кулак" и "Цепной захват"</p>.
    </AF>
</body>
<br />
<AF>
    <titlit>
        <div class="Arating-area">
            Насколько вам понравилась данная история?
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1"></label>
        </div>
    </titlit>
</AF>
<br />
<div class="wrap2">
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FAB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
<div class="wrap2">
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
    <div class="FDB" onclick="location.href=''" style="cursor: pointer;"></div>
</div>
</html>