<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="angelmain" onclick="location.href='IL.html'" style="cursor: pointer;"></div>
<div class="wrap">
    <div class="HAB" onclick="location.href='AECommon.html'" style="cursor: pointer;">Лучезарная Шестёрка</div>
    <div class="HAB" onclick="location.href='ACCommon.html'" style="cursor: pointer;">Капитаны</div>
    <div class="HAB" onclick="location.href='AWCommon.html'" style="cursor: pointer;">Устройство Рая</div>
    <div class="HAB" onclick="location.href='AOCommon.html'" style="cursor: pointer;">Прочее</div>
</div>
<div class="demonmain" onclick="location.href='ID.html'" style="cursor: pointer;"></div>
<body>
    <AF>
        <titbig>
            Часовщик
        </titbig>
        <img id="114" src="{{url_for('static', filename='Pictures/AngelCapt/First/watchmaker.jpg')}}" style="float: right; max-width: 20%; height: auto;" />
        <p>Один из немногих известных капитанов <a href="first.html" target="_self" class="AngelA">Первого</a>. При жизни был, что логично, мастером часов. История его смерти – тайна ля многих, но сейчас он вооружён мечами в виде часовой и минутой стрелок. Любит носить простую одежду, но носит своего рода очки, в которых он защищён от действия своей особой техники.</p>
        <titlit>
            Обычные атаки:
        </titlit>
        <p>Комбинации мечами.</p>
        <titlit>
            Особый приём:
        </titlit>
        <p>«Замедление». На тыльных сторонах ладони капитан имеет часы, идущие в обратном направлении. Посмотрев на них, противник замирает на несколько секунд. Эффект не работает на железновольцев, все подчинённые Часовщика также имеют эти очки, однако их начальник не пересекается с другими ангелами в бою, чтобы по его вине не погибли союзники.</p>
    </AF>
</body>
<footer></footer>
</html>